
/* ----- basic style ----- */
* { box-sizing: border-box; }

body
{
    color: #516066;
    background-color: #F5F5DC;
    font-family: OpenSans, sans-serif;
}

h1, h2, h3 { font-family: '微軟正黑體', 'Microsoft YaHei', }

a
{
    text-decoration: none;
    color: #90BB74;
    font-weight: bold;
}

a:hover
{
    text-decoration: none;
    color: #73955C;
    border-bottom: 1px dashed #73955C;
    font-weight: bold;
}

#site-wrapper
{
    max-width: 960px;
    margin: 0 auto;
}

/* ----- header ----- */
#site-left
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 1em;
    text-align: right;
}

#site-left h1
{
    font-size: 1.8em;
    font-family: '微軟正黑體', 'Microsoft YaHei';
    font-weight: normal;
}
#site-left h1 a { font-weight: normal; }
#site-left h1 a:hover { text-decoration: none; }

/* ----- nav -----*/
#site-nav
{
    padding: 1em;
    border-top: dashed #ccc 1px;
    border-bottom: dashed #ccc 1px;
    text-align: right;
}

#site-nav a
{
    display: block;
}

/* ----- main ----- */

#site-main
{
}

/* ----- footer ----- */


/* ----- index.html ----- */

#site-index
{
    border: solid 1px #ddd;
    padding: 3em 5em;
    box-shadow: 0 1px 10px #999;
}

.index-post h3
{
    font-weight: normal;
}

.index-post time
{
    display: inline-block;
    width: 7em;
    float: left;
}

/* ----- posts ----- */
.post-container
{
    border: solid 1px #ddd;
    padding: 3em 5em;
    box-shadow: 0 1px 10px #999;
}

/* ----- misc ----- */

.muted
{
    color: #aaa;
}