
/* ----- basic style ----- */
* { box-sizing: border-box; }

body
{
    color: #516066;
    background-color: #FDFFFA;
}

h1, h2, h3 { font-family: '微軟正黑體', 'Microsoft YaHei', sans-serif; }

a
{
    text-decoration: none;
    color: #90BB74;
    font-weight: bold;
}

a:hover
{
    text-decoration: none;
    color: #73955C;
    border-bottom: 1px dashed #73955C;
    font-weight: bold;
}

#site-wrapper
{
    max-width: 960px;
    margin: 0 auto;
}

/* ----- header ----- */
#site-left
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 1em;
    text-align: right;
}

#site-left h1
{
    font-size: 1.8em;
    font-family: '微軟正黑體', 'Microsoft YaHei';
    font-weight: normal;
}
#site-left h1 a
{
    font-weight: normal;
    color: #516066;
}
#site-left h1 a:hover { text-decoration: none; }

/* ----- nav -----*/
#site-nav
{
    padding: 1em;
    border-top: dashed #ccc 1px;
    border-bottom: dashed #ccc 1px;
    text-align: right;
}

#site-nav a
{
    display: block;
    padding-top: 0.8em;
}

/* ----- main ----- */

#site-main
{
}

.page-shadow
{
    padding: 3em 5em;
    margin: 0 1em;
    box-shadow: 0 1px 10px #999;
}

@media screen and (max-width: 480px)
{
    .page-shadow
    {
        padding: 3em 1em;
        margin: 0;
        box-shadow: none;
    }
}

/* ----- footer ----- */


/* ----- index.html ----- */

#site-index
{

}

.index-post h3
{
    font-weight: normal;
}

.index-post time
{
    display: inline-block;
    width: 7em;
    font-family: Consolas, Menlo, monospace;
}

/* ----- posts ----- */
.post-wrapper
{
}

.post-content
{
    line-height: 1.6em;
}

/* ----- archives ----- */
.page-spliter
{
    margin: 1em -5em;
    padding: 0.3em 5em;
    background-color: #555;
    color: #ccc;
    box-shadow: 0px 0px 10px #aaa;
}

/* ----- misc ----- */

.muted
{
    color: #aaa;
}

.copyright
{
    font-size: 11px;
    margin: 1em 1em;
}

.underline
{
    border-bottom: solid 1px #ccc;
}