<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="調和的靈感 Matthew">
  <meta name="author" content="Matthew chchwy Chang">

  <link rel="shortcut icon" href="/ico/favicon.png">

  <title>調和的靈感</title>

  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" >
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/prettify.css" />

  <link href="/feed.xml" rel="alternate" type="application/rss+xml" title="{{ site.title }}" />

</head>
<body>
<div id="site-wrapper" class="pure-g-r">
  <header id="site-left" class="pure-u-1-5">
    <h1 class="site-title"><a href="/index.html">調和的靈感</a></h1>
    {% include nav.html %}
    {% include copyright.md %}
  </header>
  <div id="site-main" class="pure-u-4-5">
    <div class="page-shadow">
    {{ content }}
    </div>

    {% include footer.html %}
  </div>
</div>

  {% include analytics.html %}

  <script src="http://code.jquery.com/jquery.min.js"></script>
  <script src="/js/prettify.js"></script>
</body>
</html>